html * {
    -webkit-font-smoothing: antialiased;
}

.h1, .h2, .h3, .h4, body, h1, h2, h3, h4, h5, h6 {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.5em !important;
}

h3 {
    font-weight: 300 !important;
    font-size: 25px !important;
}


h4 {
    font-size: 18px !important;
}

h6 {
    font-size: 12px !important;
    text-transform: uppercase;
    font-weight: 500;
}

p {
    font-size: 14px;
    margin: 0 0 10px;
    font-weight: 300;
}

.text-gray {
    color: #999 !important;
}

nav{
    z-index:2;
    background-color:white;
}

.card-title {
    font-weight: 700 !important;
    margin-top: 10px;
    color: #3c4858;
    font-family: Roboto Slab,Times New Roman,serif;
}

.card {
    height:80%;
    border: 0;
    margin-bottom: 30px;
    margin-top: 100px;
    border-radius: 6px !important;
    color: rgba(0,0,0,.87);
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

    .card .card-body {
        padding: .9375rem 1.875rem;
        display:flex;
        flex-direction:column;
        justify-content:center;
    }

.card-description {
    color: #999;
}

.card.card-profile {
    text-align: center;
}

.card .card-header.card-header-image {
    position: relative;
    padding: 0;
    z-index: 1;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
    max-height: 215px;
}

    .card .card-header.card-header-image a {
        display: block;
    }

    .card .card-header.card-header-image img {
        width: 100%;
        height: 215px;
        border-radius: 6px;
        pointer-events: none;
        box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
    }

    .card .card-header.card-header-image .colored-shadow {
        transform: scale(.94);
        top: 12px;
        filter: blur(12px);
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        z-index: -1;
        transition: opacity .45s;
        opacity: 1;
    }

    .card .card-header.card-header-image .card-title {
        position: absolute;
        bottom: 5px;
        left: 15px;
        color: #999;
        font-size: 1.125rem;
        /*        text-shadow: 0 2px 5px rgba(33,33,33,.5);
*/ font-weight: 700;
        font-family: 'Roboto Slab';
    }

.card .card-category {
    margin-top: 15px;
    margin-bottom: 10px;
}

.card .card-body + .card-footer {
    padding-top: 0;
    border: 0;
    border-radius: 6px;
}

.card .card-footer {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
}

.card-profile .card-footer .btn.btn-just-icon {
    font-size: 20px;
    padding: 12px 13px;
    line-height: 1em;
}

.card .card-footer {
    padding: .9375rem 1.875rem;
}


.card-profile .card-body + .card-footer {
    margin-top: -15px;
}

.card .text-info {
    color: #00bcd4 !important;
}

.card-profile .card-avatar {
    width: 130px;
    max-width: 130px;
    max-height: 130px;
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

    .card-profile .card-avatar img {
        width: 100%;
    }

    .card-profile .card-avatar + .card-body {
        margin-top: 15px;
    }


.btn:not(.btn-just-icon) {
    position: relative;
    padding: 12px 30px !important;
    margin: .3125rem 1px;
    font-size: .75rem !important;
    font-weight: 400 !important;
    line-height: 1.428571;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-radius: .2rem;
    outline: 0;
}

.btn.btn-just-icon.btn-round {
    border-radius: 50%;
    margin: .3125rem 1px;
}




.btn.btn-info {
    color: #fff !important;
    background-color: #00bcd4 !important;
    border-color: #00bcd4 !important;
    box-shadow: 0 2px 2px 0 rgba(0,188,212,.14), 0 3px 1px -2px rgba(0,188,212,.2), 0 1px 5px 0 rgba(0,188,212,.12);
}

.btn.btn-round {
    border-radius: 30px;
}

footer {
    margin-top: 100px;
    color: #555;
    background: #fff;
    padding: 25px;
    font-weight: 300;
}

.footer p {
    margin-bottom: 0;
}

footer p a {
    color: #555;
    font-weight: 400;
}

    footer p a:hover {
        color: #9f26aa;
        text-decoration: none;
    }
